@import url(./Fonts.css);
html {
  font-size: 100%;
  font-family: Vazir;
}

.navbar {
  height: 5.5rem;
  display: flex;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  margin-left: 1rem;
}

.navbar-links {
  display: flex;
}
.navbar-links li {
  margin-right: 1.5rem;
  font-weight: 200;
  font-size: 15px;
}

.hero-section {
  display: flex;
  width: 100%;
}
.hero-section .intro {
  background-color: #21aa58;
  color: white;
  width: 50%;
  padding: 2rem;
  padding-right: 15%;
}
.hero-section .intro h3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 1rem;
}
.hero-section .intro p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}
.hero-section .intro form.send-link {
  display: flex;
  align-items: center;
  height: 3.5rem;
  margin-bottom: 1rem;
}
.hero-section .intro form.send-link .send-link-input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  flex: 0 0 24%;
}
.hero-section .intro form.send-link .send-link-input input {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  line-height: 3rem;
  padding: 0 0.5rem;
  height: 2.5rem;
}
.hero-section .intro form.send-link .send-link-input input::placeholder {
  color: white;
}
.hero-section .intro form.send-link .send-link-input .send-link-input-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999999999px;
  background-color: white;
  margin-left: 0.5rem;
}
.hero-section .intro form.send-link button {
  border: none;
  border-radius: 0.375rem;
  color: #21aa58;
  font-family: inherit;
  padding: 0 1rem;
  flex: 0 0 50%;
  height: 2.5rem;
  margin-right: 1rem;
}
.hero-section .intro button.webappbutton {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 0.325rem;
  height: 3rem;
  padding: 0 1rem;
}
.hero-section .intro button.webappbutton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero-section .picture {
  background-image: url(./Statics/Images/hero\ section\ pic.png);
  min-height: 40vh;
  background-position: center center;
  background-size: cover;
  width: 50%;
  flex: 0 0 50%;
}

div.container {
  background-color: white;
  min-width: 100%;
  width: 100%;
}
div.container div.links {
  min-height: 30vh;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  content-visibility: auto;
  background-color: white;
}
div.container div.links a {
  margin: 2rem;
}

div.needs {
  background-color: #f2f5f8;
  display: flex;
  flex-direction: column;
  color: #333;
  padding-bottom: 3rem;
}
div.needs .needs-header {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.25rem;
  text-align: center;
  padding: 2.5rem;
}
div.needs .needs-apps {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
div.needs .needs-apps > a {
  text-decoration: none;
  color: #333;
}
div.needs .needs-apps .subapp {
  background-color: white;
  margin: 1rem 2rem;
  display: flex;
  width: 90%;
  border-radius: 1.125rem;
  align-items: center;
  padding: 1rem 0.5rem;
}
div.needs .needs-apps .subapp .subapp-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.needs .needs-apps .subapp .subapp-info {
  margin-right: 0.5rem;
}
div.needs .needs-apps .subapp .subapp-info h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
div.needs .needs-apps .subapp .subapp-info p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

.responses {
  display: flex;
  width: 100%;
  background-color: white;
  padding-bottom: 16rem;
  position: relative;
}
.responses .responses-intro {
  width: 50%;
  color: #333;
}
.responses .responses-intro h3 {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 3.25rem;
  margin: 1rem 0;
  padding-right: 5%;
}
.responses .responses-intro p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  padding-right: 5%;
  width: 60%;
  font-size: 0.875rem;
  font-weight: 300;
}
.responses .responses-pic {
  background-image: url(./Statics/Images/hero\ section\ pic.png);
  min-height: 40vh;
  background-position: center center;
  background-size: cover;
  width: 50%;
  flex: 0 0 50%;
}
.responses .needs-subpics {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  left: 17.5%;
  top: 45%;
}
.responses .needs-subpics .needs-subpics-complete {
  margin: 2rem;
  width: 22.5%;
}
.responses .needs-subpics .needs-subpics-complete .needs-subpics-pic {
  display: flex;
  background-color: #f2f5f8;
  justify-content: center;
  align-items: center;
  border-radius: 1.125rem;
  margin-bottom: 1rem;
}
.responses .needs-subpics .needs-subpics-complete .needs-subpics-h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.responses .needs-subpics .needs-subpics-complete .needs-subpics-p {
  font-weight: 300;
  color: #333;
  font-size: 0.875rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
