@import url(./Fonts.css);
:root {
  --text-xs: 0.725rem;
  --text-s: 0.825rem;
  --text-md: 1.125rem;
  --text-l: 1.25rem;
  --text-xl: 1.375rem;
  --text-2xl: 2.25rem;
}

html {
  font-size: 100%;
  font-family: Vazir;
}

.navbar {
  height: 5.5rem;
  display: flex;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1500;
  top: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  margin-left: 1rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-links .navbar-links-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-links .navbar-links-dropdown .superapp {
  padding-left: 0.25rem;
}
.navbar-links .dropdown_menu_icon {
  transform: rotate(90deg);
  width: 1rem;
  height: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.navbar-links > li {
  margin-right: 1.5rem;
  font-weight: 200;
  font-size: var(--text-s);
  position: relative;
  padding: 1rem 0;
  cursor: pointer;
}
.navbar-links > li .navbar-submenu {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  z-index: 2;
  border-radius: 0.75rem;
  top: 2.5rem;
  right: -2rem;
  display: none;
}
.navbar-links > li .navbar-submenu > li {
  padding: 0.75rem 1.5rem;
  white-space: nowrap;
  color: #333;
}
.navbar-links > li .navbar-submenu > li > a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
}
.navbar-links > li > a {
  color: #333;
  text-decoration: none;
}
.navbar-links > li > a:hover {
  color: #00d170;
  font-weight: 500;
}
.navbar-links > li > div:hover {
  color: #00d170;
  font-weight: 500;
}
.navbar-links > li:hover .navbar-submenu {
  display: block;
}

.hero-section {
  display: flex;
  width: 100%;
  margin-top: 5.5rem;
}
.hero-section .intro {
  background-color: #21aa58;
  color: white;
  width: 50%;
  padding: 2rem;
  padding-right: 15%;
}
.hero-section .intro h3 {
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 1rem;
}
.hero-section .intro p {
  font-size: var(--text-l);
  font-weight: 300;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}
.hero-section .intro form.send-link {
  display: flex;
  align-items: center;
  height: 3.5rem;
  margin-bottom: 1rem;
}
.hero-section .intro form.send-link .send-link-input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  flex: 0 0 24%;
}
.hero-section .intro form.send-link .send-link-input input {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  line-height: 3rem;
  padding: 0 0.5rem;
  height: 2.5rem;
}
.hero-section .intro form.send-link .send-link-input input::placeholder {
  color: white;
}
.hero-section .intro form.send-link .send-link-input .send-link-input-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999999999px;
  background-color: white;
  margin-left: 0.5rem;
}
.hero-section .intro form.send-link button {
  border: none;
  border-radius: 0.375rem;
  color: #21aa58;
  font-family: inherit;
  padding: 0 1rem;
  flex: 0 0 50%;
  height: 2.5rem;
  margin-right: 1rem;
}
.hero-section .intro button.webappbutton {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-size: var(--text-md);
  cursor: pointer;
  border-radius: 0.325rem;
  height: 3rem;
  padding: 0 1rem;
}
.hero-section .intro button.webappbutton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero-section .picture {
  background-image: url(./Statics/Images/hero\ section\ pic.png);
  min-height: 40vh;
  background-position: center center;
  background-size: cover;
  width: 50%;
  flex: 0 0 50%;
}

div.container {
  background-color: white;
  min-width: 100%;
  width: 100%;
}
div.container div.links {
  min-height: 30vh;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: space-around;
  content-visibility: auto;
  background-color: white;
}
div.container div.links a {
  margin: 2rem;
}

div.needs {
  background-color: #f2f5f8;
  display: flex;
  flex-direction: column;
  color: #333;
  padding-bottom: 3rem;
}
div.needs .needs-header {
  font-weight: 700;
  font-size: var(--text-2xl);
  line-height: 3.25rem;
  text-align: center;
  padding: 2.5rem;
}
div.needs .needs-apps {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
div.needs .needs-apps > a {
  text-decoration: none;
  color: #333;
}
div.needs .needs-apps .subapp {
  background-color: white;
  margin: 1rem 2rem;
  display: flex;
  width: 90%;
  border-radius: 1.125rem;
  align-items: center;
  padding: 1rem 0.5rem;
}
div.needs .needs-apps .subapp .subapp-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.needs .needs-apps .subapp .subapp-info {
  margin-right: 0.5rem;
}
div.needs .needs-apps .subapp .subapp-info h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
div.needs .needs-apps .subapp .subapp-info p {
  font-size: var(--text-s);
  color: rgba(0, 0, 0, 0.6);
}

.responses {
  display: flex;
  width: 100%;
  background-color: white;
  padding-bottom: 16rem;
  position: relative;
}
.responses .responses-intro {
  width: 50%;
  color: #333;
}
.responses .responses-intro h3 {
  font-size: var(--text-xl);
  font-weight: bold;
  line-height: 3.25rem;
  margin: 1rem 0;
  padding-right: 5%;
}
.responses .responses-intro p {
  font-size: var(--text-l);
  font-weight: 300;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  padding-right: 5%;
  width: 60%;
  font-size: var(--text-s);
  font-weight: 300;
}
.responses .responses-pic {
  background-image: url(./Statics/Images/hero\ section\ pic.png);
  min-height: 40vh;
  background-position: center center;
  background-size: cover;
  width: 50%;
  flex: 0 0 50%;
}
.responses .needs-subpics {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  left: 17.5%;
  top: 45%;
}
.responses .needs-subpics .needs-subpics-complete {
  margin: 2rem;
  width: 22.5%;
}
.responses .needs-subpics .needs-subpics-complete .needs-subpics-pic {
  display: flex;
  background-color: #f2f5f8;
  justify-content: center;
  align-items: center;
  border-radius: 1.125rem;
  margin-bottom: 1rem;
}
.responses .needs-subpics .needs-subpics-complete .needs-subpics-h3 {
  font-size: var(--text-md);
  font-weight: bold;
  margin-bottom: 1rem;
}
.responses .needs-subpics .needs-subpics-complete .needs-subpics-p {
  font-weight: 300;
  color: #333;
  font-size: var(--text-s);
  line-height: 1.7;
  margin-bottom: 1rem;
}

.drivers-signup {
  background-color: #f2f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.drivers-signup h3 {
  font-size: var(--text-2xl);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}
.drivers-signup p {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-l);
  font-weight: 300;
}
.drivers-signup button {
  background-color: #21aa58;
  color: white;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: var(--text-md);
  margin: 2rem;
}
.drivers-signup button:hover {
  background-color: #00d170;
}
.drivers-signup video {
  width: 70%;
  margin-top: 1rem;
  border-radius: 10px;
}
.drivers-signup .benefits {
  display: flex;
  margin-top: 3rem;
  width: 71.5%;
  justify-content: space-between;
}
.drivers-signup .benefits .benefits-cards-complete {
  width: 50%;
}
.drivers-signup .benefits .benefits-cards-complete .benefits-cards {
  background-color: white;
  margin: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 20vh;
}
.drivers-signup .benefits .benefits-cards-complete .benefits-cards .benefits-pic {
  width: 25%;
  display: flex;
}
.drivers-signup .benefits .benefits-cards-complete .benefits-cards .benefits-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.drivers-signup .benefits .benefits-cards-complete .benefits-cards .benefits-info h3 {
  font-size: var(--text-md);
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  width: 80%;
  padding-right: 10%;
  padding: 1rem;
}
.drivers-signup .benefits .benefits-cards-complete .benefits-cards .benefits-info p {
  font-size: var(--text-s);
  font-weight: 300;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  width: 80%;
  padding-right: 10%;
  padding: 1rem;
}

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}
footer .topfooter ul {
  display: flex;
  flex-direction: row;
}
footer .topfooter ul a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  margin: 1rem;
}
footer .midfooter {
  margin: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
footer .midfooter svg {
  color: #333;
  margin: 0.5rem;
  width: 20px;
  height: 20px;
}
footer .bottomfooter {
  display: flex;
  flex-direction: row-reverse;
}
footer .bottomfooter img {
  width: 130px;
  height: 130px;
}

/*# sourceMappingURL=style.css.map */
